# Ignore compiled Python files
*.pyc

# Ignore Python byte code cache
__pycache__/

# Ignore environment variables file
.env

# Ignore database file
db.sqlite3
db.sqlite3.sqbpro

# Ignore Django migration files
**/migrations/

# Ignore local development settings
**/local_settings.py

# Ignore IDE or editor-specific files
.vscode/

# Ignore system files
.DS_Store
Thumbs.db
.word_files
.flake8
env
flake8-report